.form__block {
  position: relative;
}
.reg__title {
  position: absolute;
  top: 15px;
}

.back__link {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 25px;
  left: 50px;
  color: black;
}
